@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Changa:wght@400;600;700;800&family=Cute+Font&family=Edu+SA+Beginner:wght@600&family=Noto+Sans+Chorasmian&family=Rokkitt:ital,wght@0,400;0,800;1,800&family=Russo+One&family=Teko&display=swap');
/*
背景蓝 #dff4fe
文字蓝 #b9d9fb
文字黑 #020001
标题灰蓝色 #7f9098
段落灰蓝色#67757c
藕粉色 #c8abc2
灰粉色 #d7cbe0
浅粉色 #f6dce6
粉色 #ebbcc6

*/

body {
    height: 100%;
    margin: 0;
    box-sizing: border-box;
    background-color: #dff4fe;
}

.navbar {
    height: 80px;
    width: 100%;
    top: 0;
    background-color: white;
    position: relative;
    display: grid;
    grid-template-columns: 3fr 5fr 3fr 0.5fr;
    padding: 0 2rem;
    color: #b9d9fb;
    font-family: 'Changa';
    font-weight: 700;
    font-size: 2rem;
    color: #7f9098;
    align-items: center;
    position: fixed;
    z-index: 1000;
}

.name {
    margin-left: 2rem;
}
.btn {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    color: #7f9098;
}
.btn :hover{
    color: #b9d9fb;
}

.btnH {
    text-decoration: none;
    color: #7f9098;
}
.btnA {
    text-decoration: none;
    color: #7f9098;
}

/* about me */
.Atitle {
    font-size: 5rem;
    font-family: 'Rokkitt';
    font-style: italic;
    margin: 5rem 0 2rem 5rem;
    color: #7f9098;
}

#about {
    margin: 10rem 0 2rem 5rem;
}
.abm {
    display: flex;
    gap: 30px;
    margin: 2rem 5rem;
    padding: 0 2rem;
    justify-content: center;
    align-items: center;
}

.img_container, .intro {
    width: 50%;
    max-width: 50%;
}

.abm img {
    width: 90%;
    max-width: 800px;
    height: auto;
}
.intro {
    font-family: 'Rokkitt';
    font-size: 120%;
    font-weight: 400;
    color: #67757c;
}

.gap {
    height: 5px;
    background-color: white;
}

/* skill */
.it_items, .video_items {
    display: flex;
    gap: 50px;
    margin: 3rem;
    justify-content: center;
    align-items: center;
}

