@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Changa:wght@400;600;700;800&family=Cute+Font&family=Edu+SA+Beginner:wght@600&family=Noto+Sans+Chorasmian&family=Rokkitt:ital,wght@0,200;0,800;1,800&family=Russo+One&family=Teko&family=Special+Elite&display=swap');

body {
    background-color: #dff4fe;
    height: 100%;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
.navbar {
    height: 80px;
    width: 100%;
    top: 0;
    background-color: white;
    position: relative;
    display: flex;
    padding: 0 2rem;
    font-family: 'Changa';
    font-weight: 700;
    font-size: 2rem;
    color: #7f9098;
    align-items: center;
    position: fixed;
    z-index: 1000;
    justify-content: space-between;
}

.logo_part{
    display: flex;
    justify-content: center;
    margin-left: 5%;
}
.logo_part img {
    width: 30px;
    margin-left: 1rem;
}
.btn {
    display: flex;
    align-items: center;
    color: #7f9098;
    margin-right: 10%;
}
.btn :hover{
    color: #b9d9fb;
}  

.btnH, .btnA, .btnN, .btnC {
    text-decoration: none;
    color: #7f9098;
    margin: 0 1rem;
}

/* welcome part */
.welcontainer {
    position: relative;
}
.welimg {
    margin-top: 5rem;
    width: 100%;
    height: 300px;
}

.text_container h1 {
    position: absolute;
    font-family: 'Special Elite';
    color: #7f9098;
    top: 40%;
    left: 55%;
    font-size: 1.8rem;
}


/* Project */
.categories {
    font-size: 5rem;
    font-family: 'Rokkitt';
    font-style: italic;
    margin: 5rem 0 2rem 5rem;
    color: #7f9098;
}
.project_items {
    margin: 2rem 5rem 5rem 5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.items {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    background: #fff;
    box-shadow: 0 7px 10px rgba(0,0,0,0.5);
    transition: 0.5s ease-in-out;
    justify-content: end;
    aspect-ratio: 0.71;
    width: calc((100% - 40px) / 3); 
    height: auto;
}
.items:hover{
    transform: translateY(20px);
}
.items:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom,rgb(246, 220, 230,0.5),rgba(235, 188, 198, 1));
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
}
.items:hover:before{
    opacity: 1;
}

.items img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}
.text_part{
    position: relative;
    z-index: 3;
    color:#505c62;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Rokkitt';
}
.text_part:hover{
    opacity: 1;
    transform: translateY(0px);
}

.text_part p {
    letter-spacing: 1px;
    font-size: 20px;
    margin-top: 8px;
    margin-bottom: 2.5rem;
    font-weight: bold;
}

.infobtn {
    width: 50%;
    margin-bottom: 1rem;
    font-weight: bold;
    text-align: center;
    --offset: 10px;
    --border-size: 2px;
    text-decoration: none;
    display: block;
    position: relative;
    padding: 1em 2em;
    appearance: none;
    border: 0;
    background: transparent;
    color: #505c62;
    text-transform: uppercase;
    letter-spacing: .25em;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 0;
    box-shadow: inset 0 0 0 var(--border-size) currentcolor;
    transition: background .8s ease;
}

.infobtn:hover {
    background: rgba(100, 0, 0, .03);
}

.infobtn__horizontal,
.infobtn__vertical {
    position: absolute;
    transition: transform .8s ease;
    will-change: transform;
}

.infobtn__horizontal {
    top: 0;
    right: calc(var(--offset) * -1);
    bottom: 0;
    left: calc(var(--offset) * -1);
    border-top: var(--border-size) solid currentcolor;
    border-bottom: var(--border-size) solid currentcolor;
}

.infobtn__horizontal::before {
    content: '';
    position: absolute;
    top: calc(var(--offset) * -1 - var(--border-size));
    bottom: calc(var(--offset) * -1 - var(--border-size));
    left: calc(var(--offset) * -1);
    right: calc(var(--offset) * -1);
    border: inherit;
}

.infobtn:hover .infobtn__horizontal {
    transform: scaleX(0);
}

.infobtn__vertical {
    top: calc(var(--offset) * -1);
    right: 0;
    bottom: calc(var(--offset) * -1);
    left: 0;
    border-left: var(--border-size) solid currentcolor;
    border-right: var(--border-size) solid currentcolor;
}

.infobtn__vertical::before {
    content: '';
    position: absolute;
    top: calc(var(--offset) * -1);
    bottom: calc(var(--offset) * -1);
    left: calc(var(--offset) * -1 - var(--border-size));
    right: calc(var(--offset) * -1 - var(--border-size));
    border: inherit;
}

.infobtn:hover .infobtn__vertical {
    transform: scaleY(0);
}

/* About me */
.abm {
    display: flex;
    gap: 30px;
    margin: 2rem 5rem 5rem 5rem;
    padding: 0 2rem;
    justify-content: center;
    align-items: center;
}

.img_container, .intro {
    width: 50%;
    max-width: 50%;
}

.img_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.abm img {
    width: 400px;
    height: auto;
}

.social_media a {
    font-size: 3rem;
    margin: 1rem;
    color: #67757c;
}

.intro {
    font-family: 'Rokkitt';
    letter-spacing: 0.5px;
    font-size: 120%;
    font-weight: 510;
    color: #67757c;
}

.gap {
    height: 5px;
    background-color: white;
}

/* skill */
.it_items, .video_items {
    display: flex;
    gap: 50px;
    margin: 3rem;
    justify-content: center;
    align-items: center;
}

/* contact */
.contact {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.contact form{
    width: 50%;
    margin: 1rem 5rem 5rem 5rem;
    text-align: right;    
}
form input, form textarea{
    width: 100%;
    border: 1px solid #ccc;
    box-sizing: border-box;
    outline: none;
    background: white;
    padding: 15px;
    margin: 15px 0;
    color: #67757c;
    font-size: 18px;
    border-radius: 6px;
}
.contact input::placeholder,
.contact textarea::placeholder {
    font-family: 'Rokkitt';
}

/* submit */
.contactbtn {
    text-decoration: none;
    position: relative;
    background: #fff;
    color: #ffff;
    font-family: 'Changa';
    font-size: 1.5rem;
    letter-spacing: 0.5px;
    padding: 10px 30px;
    width: 150px;
    text-align: center;
    border: none;
    cursor: pointer;
}

.contactbtn:hover {
    background: var(--clr);
    color: var(--clr);
    letter-spacing: 1px;
    box-shadow: 0 0 35px var(--clr);

}

.contactbtn::before {
    content: '';
    position: absolute;
    inset: 2px;
    background: #dff4fe;
}

.contactbtn span {
    position: relative;
    z-index: 1;
}

.contactbtn i {
position: absolute;
inset: 0;
display: block;
}

.contactbtn i::before {
    content: '';
    position: absolute;
    top: 0;
    left: 80%;
    width: 10px;
    height: 4px;
    background: #dff4fe;
    transform: translateX(-50%) skewX(325deg);
    transition: 0.5s;
}

.contactbtn:hover i::before {
    width: 20px;
    left: 20%;
}

.contactbtn i::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 20%;
    width: 10px;
    height: 4px;
    background: #dff4fe;
    transform: translateX(-50%) skewX(325deg);
    transition: 0.5s;
}

.contactbtn:hover i::after {
    width: 20px;
    left: 80%;
}

.msg {
    color: #67757c;
    margin-right: 1rem;
    display: none;
}

/* footer */
footer {
    background-color: white;
    text-align: center;
    padding: 10px;
    font-size: 1em;
    font-family: 'Rokkitt';
    font-weight: bold;
    color: #7f9098;
    letter-spacing: 1px;
}


