body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #333;
}

.scene {
    display: flex;
    align-items: center;
    position: relative;
    width: 550px; /* 加入宽度以适应布局 */
    justify-content: space-between;
}

.projector {
    width: 100px;
    height: 100px;
    background: url('image/projector.svg') no-repeat center; /* 更新路径 */
    background-size: contain;
    z-index: 3;
    order: 1; /* 使用Flexbox order属性来重新排序 */
}

.lightbeam {
    width: 0;
    height: 0;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-top: 60px solid rgba(255, 255, 255, 0.5);
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    animation: lightAnimation 3s ease 2s forwards;
}

@keyframes lightAnimation {
    from {
        border-top: 60px solid transparent;
    }
    to {
        border-top: 60px solid rgba(255, 255, 255, 0.5);
    }
}

.screen {
    width: 300px;
    height: 200px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 3s ease 5s;
    overflow: hidden;
    z-index: 2;
    order: 2;
}

.screen p {
    margin: 0;
    font-size: 24px;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    animation: typing 4s steps(25, end) 5s forwards;
}
